<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010911827574-2j9v3pfrtc6n8lf3kvq98402pqf6cqim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010911827574-2j9v3pfrtc6n8lf3kvq98402pqf6cqim</string>
	<key>API_KEY</key>
	<string>AIzaSyBfrBsgsmyEe98AKYMfr_PcyZMCK9u45SE</string>
	<key>GCM_SENDER_ID</key>
	<string>1010911827574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a6irdview.castActors</string>
	<key>PROJECT_ID</key>
	<string>movie-casting-app</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-casting-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010911827574:ios:6b8a0a8a32932f77897157</string>
</dict>
</plist>